body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    background-color: orange;
    border-radius: 2%;
}
.grid div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: center;
    font-size: 50px;
}